# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Admin\Dev\backend_test_homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Игнорировать файл README.md.
README.md

# Игнорировать файл side.txt в директории build.
build/side.txt

# Игнорировать все файлы с расширением .doc
*.doc 